{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="container">
<div class="my-3 bg-white shadow-sm rounded-sm">
  <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fa fa-comment"></i> Escritos y charlas</h6>
  <div class="px-3 pb-1">
    <div class="media-body">

        <p>&#9632;<a href="subsites/docs/Escritos/El_álgebra_de_Formas_Modulares (1).pdf">El espacio de formas modulares de peso k</a></p>
        <p>&#9632;<a href = "subsites/docs/Escritos/Cocientes_de_variedades_afines_por_grupos_finitos_.pdf"> Cocientes de variedades afines por grupos finitos </a></p>
        <p>&#9632;<a href = "subsites/docs/Escritos/Mapping Class Group de una Superficie.pdf"> Tesina de pregrado: Mapping Class Group de una Superficie </a></p>

        <!-- <div><a href = "subsites/docs/Escritos/Beamer final.pdf"> Mapping class group de una superficie </a></div> -->
      </div>       
    </div>
  </div>
</div>